@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (max-width: 1440px) {
      @content;
    }
  }
}

@mixin respond-to-min($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

// Use the mixin
.container {
  width: 100%;
  margin: 0px auto;
  max-width: 1400px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;
  @include respond-to(medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // @include respond-to(medium) {
  //   width: 750px;
  // }

  // @include respond-to(large) {
  //   width: 960px;
  // }

  // @include respond-to(xlarge) {
  //   width: 1140px;
  // }
}

.flex {
  display: flex;
}

@function getRemValue($pixelSize) {
  @return $pixelSize / 16 * 1rem;
}

@mixin font-size-rem($size) {
  font-size: getRemValue($size);
}
