.header {
  background-color: $secondary-color;
  position: sticky;
  top: 0;
  z-index: 9999;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .header-left {
      display: flex;
      gap: 30px;
      align-items: center;

      .logo {
        font-size: 24px;
        font-weight: bold;
      }
      nav{
        @include respond-to(small){
          display: none;
        }
      }
      nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;

        li {
          margin-right: 20px;

          a {
            color: $text-color;
            text-decoration: none;
            //styleName: Header 5/Medium;
            font-size: 18px;
            font-weight: 500;
            line-height: 22.68px;
            letter-spacing: 0.02em;
            text-align: center;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;

    .phone {
      margin-right: 20px;
      @include respond-to(small){
        display: none;
      }
    }
    .bugger{
      background: none;
      border: none;
      margin-left: 10px;
      @include respond-to-min(small){
        display: none;
      }
    }
  }
}


