.free-quote-section {
  // background-color: #0e0e0e;
  color: #fff;
  text-align: center;
  background-image: url(/images/quote-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  .quote-container__wrapper {
    background-color: #101010;
    padding: 50px 0;
    .quote-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      flex-wrap: wrap;
      gap: 40px;

      .quote-text {
        text-align: left;
        width: 25%;
        @include respond-to(medium) {
          width: 100%;
          text-align: center;
        }

        h2 {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 20px;
          font-weight: 600;
        }

        p {
          font-size: 18px;
          color: #ccc;
          font-size: 18px;
          font-weight: 400;
          line-height: 22.68px;
          letter-spacing: 0.02em;
          text-align: left;
          @include respond-to(medium) {
       
          text-align: center;
        }
        }
      }

      .quote-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        flex: 1;
        justify-content: space-between;
        border-bottom: 1px solid red;
        padding-bottom: 50px;
          @include respond-to(medium) {
       
          padding-bottom: 1px;
        }
        

        span {
          font-size: 36px;
          color: #ff4b2b;
          font-size: 71.81px;
          font-weight: 500;
          line-height: 90.48px;
          letter-spacing: 0.02em;
          text-align: left;
          @include respond-to(medium) {
       
          @include font-size-rem(30)
        }
        }

        button {
          background: transparent;
          border: none;
          font-size: 36px;
          color: #ff4b2b;
          cursor: pointer;

          .arrow {
            transition: all 0.3s ease-in-out;
          }

          &:hover .arrow {
            transform: translateX(10px);
          }
        }
      }
    }
  }
  .app-download__wrapper {
    background-color: #000000e5;
    padding: 50px 0;
    .app-download {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include respond-to(medium) {
        justify-content: center;
        gap: 20px;
      }

      p {
        font-weight: bold;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.32px;
        letter-spacing: 0.02em;
        text-align: left;
      }

      .app-links {
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;

        img {
          cursor: pointer;
          width: 231.92px;
          height: 67px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
