.clients-we-serve__wrapper {
  background-color: #fff;
}
.clients-we-serve {
  // max-width: 1200px;
  padding: 40px 20px;
  text-align: center;
  padding-bottom: 113px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    color: #666;
    margin-bottom: 40px;
  }

 .client-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Disable wrapping for horizontal scroll */
  overflow-x: auto;  /* Enable horizontal scroll */
  padding-bottom: 10px; /* Add some padding at the bottom for better UX */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.client-card {
  flex: 0 0 calc(25% - 20px); /* Ensure the cards don't shrink below a certain width */
  background-color: #f4f4f4;
  padding: 30px 20px;
  border-radius: 8px;
  text-align: left;
  margin-right: 20px; /* Space between cards */
}

.icon-wrapper {
  background-color: #eaeaea;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  align-items: center;
  margin: 40px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  width: 71%;
  height: 69%;
  object-fit: cover;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
}

@include respond-to(large) {
  .client-cards {
    flex-wrap: nowrap; /* Still allow horizontal scrolling */
  }

  .client-card {
    flex: 0 0 calc(40% - 20px); /* Make cards wider on tablet */
  }
}


/* Tablet */
@include respond-to(medium) {
  .client-cards {
    flex-wrap: nowrap; /* Still allow horizontal scrolling */
  }

  .client-card {
    flex: 0 0 calc(50% - 20px); /* Make cards wider on tablet */
  }
}



/* Mobile */
@include respond-to(small){
    .client-cards {
    flex-wrap: nowrap; /* Horizontal scroll on mobile as well */
  }

  .client-card {
    flex: 0 0 calc(80% - 20px); /* Wider cards on mobile to fit better */
  }
}


}


